/* Universal Styles */

html {
  font-size: 18px;
}

body {
  padding-top: 70px; /* to account for the nav-bar */
  line-height: 1.5;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 14px;
  }
}

h1 {
  margin: 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #000;
}

h2 {
  margin: 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: #000;
}

h3 {
  margin: 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: #000;
}

h4 {
  margin: 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #000;
}

h5 {
  margin: 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #000;
}

h6 {
  margin: 0.4rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #000;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #ef1541;
}

.large-test-chunk {
  background-color: red;
  height: 1000px;
}

/* Nav bar stuff */
.nav-bar {
  background-color: #000;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-bar-items {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.nav-bar-item {
  padding: 0px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.logo {
  padding-left: 15px;
  width: 67px;
  height: 40px;
}

/* thumbnail rail */
.thumbnail-rail {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
