.my-photo {
  border-radius: 50px;
  width: 200px;
}

.about-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text {
  text-align: center;
  width: 70%;
}
